@import url('https://fonts.googleapis.com/css?family=Lato');

body,
html {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  overflow-x: hidden;
}

.main-form-wrapper {
  padding-top: 65vh;
}

.header-background-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.header-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('http://wallpapers-hd.eu/wp-content/uploads/2015/02/qlimax_festival-1920x1080-1600x1080.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  filter: brightness(4%);
}

.main-form {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: top 0.25s ease-out;
}
.main-form-wrapper.pushed-up > .main-form {
  top: 30%;
}

.loading-symbol {
  position: relative;
  width: 20px;
  height: 20px;
  z-index: -1;
}
.loading-symbol:not(.active) {
  display: none;
}
.loading-symbol::before,
.loading-symbol::after,
.loading-symbol div {
  content: '';
  width: 0;
  height: 0;
  border-radius: 100%;
  background-color: white;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.loading-symbol div {
  -webkit-animation: bounce 1.2s 0.14s infinite;
  animation: bounce 1.2s 0.14s infinite;
  left: 50%;
}
.loading-symbol::before {
  left: -100%;
  -webkit-animation: bounce 1.2s infinite;
  animation: bounce 1.2s infinite;
}
.loading-symbol::after {
  right: -100%;
  -webkit-animation: bounce 1.2s 0.28s infinite;
  animation: bounce 1.2s 0.28s infinite;
  -webkit-transform: translate(50%, -50%);
  transform: translate(50%, -50%);
}

@keyframes bounce {
  0%,
  80%,
  100% {
    width: 0px;
    height: 0px;
  }
  40% {
    width: 20px;
    height: 20px;
  }
}

.card {
  padding-left: 0;
  padding-right: 0;
}

h3.card-title {
  line-height: 2.35rem;
}
h5.card-subtitle {
  line-height: 1.6rem;
}

.r-10 {
  right: 10px;
}
.mw-75 {
  max-width: 75%;
}

.display-2 {
  color: white;
  text-shadow: #444 1px 2px 8px;
  border-radius: 3px;
  padding: 0 1rem;
}
@media (max-width: 576px) {
  .display-2 {
    font-size: 3.5rem;
  }
}

.font-lato {
  font-family: Lato, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
