body,
html {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

.main-form-wrapper {
  padding-top: 50vh;
}

.main-form {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: top 0.25s ease-in-out;
}
.main-form-wrapper.pushed-up > .main-form {
  top: 25%;
}

.loading-symbol {
  position: relative;
  width: 20px;
  height: 20px;
  z-index: -1;
}
.loading-symbol:not(.active) {
  display: none;
}
.loading-symbol::before,
.loading-symbol::after,
.loading-symbol div {
  content: '';
  width: 0;
  height: 0;
  border-radius: 100%;
  background-color: #007bff;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.loading-symbol div {
  -webkit-animation: bounce 1.4s 0.16s infinite;
  animation: bounce 1.4s 0.16s infinite;
  left: 50%;
}
.loading-symbol::before {
  left: -70%;
  -webkit-animation: bounce 1.4s infinite;
  animation: bounce 1.4s infinite;
}
.loading-symbol::after {
  right: -70%;
  -webkit-animation: bounce 1.4s 0.32s infinite;
  animation: bounce 1.4s 0.32s infinite;
  -webkit-transform: translate(50%, -50%);
  transform: translate(50%, -50%);
}

@-webkit-keyframes bounce {
  0%,
  80%,
  100% {
    width: 0px;
    height: 0px;
  }
  40% {
    width: 20px;
    height: 20px;
  }
}

.card {
  padding-left: 0;
  padding-right: 0;
}

h3.card-title {
  line-height: 2.35rem;
}
h5.card-subtitle {
  line-height: 1.6rem;
}

.r-10 {
  right: 10px;
}
